@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nimbus Light';
  src: local('Nimbus Light'), url(../fonts/Nimbus-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Nimbus Bold';
  src: local('Nimbus Bold'), url(../fonts/Nimbus-Bold.otf) format('truetype');
}

button,
button:focus {
  outline: none;
  border: none;
}

input,
textarea {
  @apply px-4 py-1 border-2 rounded-md border-gray-500;
}
